table,th,td{
    border :dashed 1px black;
    border-collapse: collapse;
}
head{
    border : dashed  1px black;
}
.blue{
    background-color: #61ffe5;
    color: #028771;
}
.White{ 
    background-color: #ffffff;
     color: #028771;
    }

    table{
        border: 1px solid rgb(96, 96, 0);
    }
    th{
        border-right: 1px solid rgb(96, 96, 0);
    }